<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />

  <!-- Styles -->
  <link rel="stylesheet" href="./css/bootstrap-rtl.min.css" />
  <link rel="stylesheet" type="text/css" href="./DataTables/datatables.min.css" />
  <link rel="stylesheet" href="./document.css" />

  <!-- Scripts -->
  <script type="text/javascript" src="./js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="./DataTables/datatables.js"></script>
  <script src="./js/plotly-2.14.0.min.js"></script>
  <script src="./js/jspdf.min.js"></script>
  <script src="./js/html2canvas.min.js"></script>
  <script src="./js/dselect.js"></script>
</head>

<body class="preload">


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="list1A.html">تزامن المخالفات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list1B.html">تزامن عمليات التداول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list1C.html">نشاط التداول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list2.html">نسبة الملكية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list4.html">نسبة الأوامر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list5.html">عدد الأوامر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list6.html">قيمة المحفظة في اليوم</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list7.html">مجموع التداولات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list9A.html">إجمالي ونسبة التداولات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list9B.html">متوسط سعر التنفيذ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list9C.html">الأسعار قبل، بعد و خلال المخالفة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list9D.html">عدد الصفقات المتقابلة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list9E.html">نسبة الأسهم المتبقية/المدخلة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list9F.html">نسبة الأوامر الملغاة/المنفذة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list10.html">المعدل التراكمي لحجم وقيمة الشراء/البيع</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list11.html">أداء السهم بحركة المؤشر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list8.html">التشابه في الIP address</address></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div id="loading"></div> -->

  <div class="container table-container">
    <div class="row col-12 d-flex justify-content-center">
      <table id="datatable1" class="table table-striped doc-table display" style="width:100%">
        <thead class="doc-table-head" dir="rtl">
          <tr>
            <th class="securityCode"></th>
            <th class="securityName"></th>
            <th class="nin"></th>
            <th class="ninName"></th>
            <!-- <th class="investorNin"></th> -->
            <th class="buyVolume"></th>
            <th class="buyValue"></th>
            <th class="sellVolume"></th>
            <th class="sellValue"></th>
            <th class="nbNotMatchingTrades"></th>
            <th class="nbMatchingTrades"></th>
            <th class="percentageSecuirtyCode"></th>
            <th class="percentageTotal"></th>
          </tr>
        <tbody class="doc-table-body" dir="rtl">
        </tbody>
        </thead>
      </table>
      <br />
    </div>
  </div>

  <div class="search-container" dir="rtl">
    <div class="container">
      <div class="ser form-outline">
        <select id="selectNin" class="form-select">
          <option value="" selected disabled hidden>إختر المشتبه به</option>
        </select>
      </div>
      <div class="ser form-outline">
        <button class="btn btn-primary" type="button" id="globalDownload">
          إستخراج إلي PDF
        </button>
      </div>

    </div>
  </div>

  <div id="print-container">
    <div id="chart1" class="col-12">
    </div>
    <div id="chart2" class="col-12">
    </div>
    <div id="chart3" class="col-12">
    </div>
  </div>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <script src="./../index.js" type="module"></script>
  <script src="./../pdfExport.js" type="module"></script>

</body>

</html>